<launch>

<!-- rosrun octomap_world octomap_manager pointcloud:=/rovio/pcl _map_publish_frequency:=5.0 _resolution:=0.1 _sensor_max_range:=1 _tf_frame:=/world -->
<node name="see" pkg="octomap_world" type="octomap_manager" >
  <param name="map_publish_frequency" type="double" value="10.0" />
  <param name="mesh_resolution" value="0.5" />
  <param name="resolution" type="double" value="0.05" />
<!--   <param name="resolution" value="0.1" />
  <param name="sensor_max_range" value="8" />
  <param name="tf_frame" value="/world" /> -->

      <remap from="disparity" to="no_disparity" />
      <!-- <remap from="pointcloud" to="rovio/pcl"/> -->
      <remap from="pointcloud" to="/ORB_SLAM2/Cloud"/>
      <remap from="scan" to="no_scan" />

      <param name="tf_frame" value="/world" />
      <param name="robot_frame" value="/map" />
      <param name="visualize_min_z" value="-1000.0" />
      <param name="visualize_max_z" value="5000.0" />
      <!-- <param name="sensor_max_range" value="7.0" /> -->
      <param name="threshold_occupancy" value="0.7" />
</node>

</launch>